$textcolor: #1e1e1e;

$brandcolor: #04aeee;


$gradientStart: #ed028d;

$gradientStop: #04adef;


$main-menuHover: #05aeef;


$table-title--requests: #05aeef;

$table-title__counter--requests: #02b0f4;


$table-title--process: #df66ff;

$table-title__counter--process: #af20d5;


$table-title--orders: #a4ce3c;

$table-title__counter--orders: #a4ce3c;


$table-title--cancels: #ff7289;

$table-title__counter--cancels: #d84c63;
