<header class="header">
  <div class="header__inner">
    <div class="header__logo"><img src="images/content/partner-logo.svg" alt="РИВ ГОШ"></div>
    <div class="user">
      <button class="js-user user__button" type="button">
        <span class="user__icon">Е</span>
        Елена
        <svg class="user__arrow" aria-hidden="true">
          <use xlink:href="#dropdown-arrow" />
        </svg>
      </button>
      <div class="user__dropdown">
        <ul class="user__dropdown-list">
          <li class="user__dropdown-item"><span class="user__dropdown-content">dlinniyaddresspochty123@mail.ru</span></li>
          <li class="user__dropdown-item"><span class="user__dropdown-content">+7(921)123-65-98</span></li>
          <li class="user__dropdown-item">
            <a class="user__dropdown-link" href="#">Выход</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>