<div class="popup-wrapper order">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner popup__inner--order">
      <p class="popup__title">ООО «Ленвендо»</p>
      <div class="popup__contacts">
        <p class="popup__contact">Клиент: Елена</p>
        <p class="popup__contact">lena7810@gmail.com</p>
        <p class="popup__contact">+7 916 313-64-30</p>
      </div>
      <div class="popup__order-info">
        <p class="popup__order-number">Заказ №3824721 от 12.04.19. Санкт-Петербург.</p>
        <p class="popup__order-starter">Оформил: <span>Патрик Александр</span></p>
      </div>
      <table class="total-table">
        <colgroup>
          <col width="34.6%">
          <col width="45%">
          <col>
        </colgroup>
        <tr>
          <th class="total-table__th">Номинал</th>
          <th class="total-table__th">Кол-во</th>
          <th class="total-table__th">Cтоимость</th>
        </tr>
        <tr>
          <td class="total-table__td">1 500 руб.</td>
          <td class="total-table__td">17</td>
          <td class="total-table__td">25 500 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__qnt-title" colspan="2">Итого количество</td>
          <td class="total-table__td total-table__qnt">17</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__precost-title" colspan="2">Предварительная стоимость</td>
          <td class="total-table__td total-table__precost">25 500 руб.</td>
        </tr>
      </table>
      <div class="total-block total-block--top_border">
        <div class="total-block__block">
          <p class="total-block__title">Итоговая стоимость</p>
          <p class="total-block__summ total-block__summ--cost">20 720 руб.</p>
        </div>
      </div>
      <div class="comments-block is-open">
        <label class="input-label" for="comment">
          <textarea id="comment" class="js-input textarea" name="comment" rows="1">You rock! 🤟</textarea>
          <span class="input-label__label">Оставить комментарий</span>
        </label>
      </div>
    </div>
  </form>
</div>