<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button finished-step" type="button">2</button>
        <button class="steps__button finished-step" type="button">3</button>
        <button class="steps__button current" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Рассылка</p>
      <div class="tiles">
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_1" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__title">Шаг 1</span>
            <span class="tile-button__text">Скачать загруженный<br> документ</span>
          </a>
        </div>
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_2" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__title">Шаг 2</span>
            <span class="tile-button__text">Скачать шаблон<br> реестра</span>
          </a>
        </div>
        <div class="tiles__item">
          <div class="tiles__button-block tooltip-holder">
            <button class="attach-delete" type="button">
              <svg class="attach-delete__icon" aria-hidden="true">
                <use xlink:href="#close-delete" />
              </svg>
            </button>
            <span class="tooltip tooltip--bottom">Удалить файл</span>
          </div>
          <label class="tile-button tile-button--var_3" for="upload-file">
            <span class="tile-button__attach">
              <svg class="tile-button__attach-icon" aria-hidden="true">
                <use xlink:href="#attach" />
              </svg>
            </span>
            <input id="upload-file" class="tile-button__input" type="file" name="upload-file">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#upload" />
            </svg>
            <span class="tile-button__title">Шаг 3</span>
            <span class="tile-button__text">Загрузить заполненный<br> файл</span>
          </label>
        </div>
      </div>
      <div class="file-errors">
        <p class="file-errors__title">Ошибки в файле</p>
        <p class="file-errors__qnt">Всего ошибок: 12</p>
        <p class="file-errors__error">Ошибка в стороке 141 - поле email - недопустимый символ</p>
        <p class="file-errors__error">Ошибка в стороке 142 - поле номинал - недопостимый номинал</p>
        <p class="file-errors__error">Ошибка в строке 143 - поле номинал - так может выглядеть вариант многострочной ошибки</p>
        <p class="file-errors__error">Ошибка в стороке 141 - поле email - недопустимый символ</p>
        <p class="file-errors__error">Ошибка в стороке 142 - поле номинал - недопостимый номинал</p>
        <div class="file-errors__button-block">
          <a class="see-all-button" href="#">Посмотреть все</a>
        </div>
      </div>
    </div>
  </form>
</div>