<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button current" type="button">2</button>
        <button class="steps__button" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Рассылка</p>
      <div class="tiles">
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_4" href="popup_4.html">
            <svg class="tile-button__image tile-button__image--var_1" aria-hidden="true">
              <use xlink:href="#send_1" />
            </svg>
            <span class="tile-button__text">Рассылка получателям</span>
          </a>
        </div>
        <div class="tiles__item tiles__item--small">
          <div class="js-send-to-me tile-button tile-button--var_4">
            <svg class="tile-button__image tile-button__image--var_2" aria-hidden="true">
              <use xlink:href="#send_2" />
            </svg>
            <span class="tile-button__text">Отправить мне на email</span>
            <div class="tile-button__hidden-block">
              <label class="input-label" for="order_num">
                <input id="order_num" class="js-input input editable" type="text" name="order_num" value="hello@sorokins.me" />
                <span class="input-label__label">Email</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>