<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button current" type="button">2</button>
        <button class="steps__button" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Выберите номинал</p>
      <div class="popup-form2 popup-form2--no_background">
        <div class="popup-form2__row popup-form2__row--2_cell">
          <div class="popup-form2__cell">
            <label class="input-label input-label--big_text" for="order_num">
              <input id="order_num" class="js-input input editable" type="text" name="order_num" value="" />
              <span class="input-label__label">Ввести номер заказа</span>
            </label>
          </div>
          <div class="popup-form2__cell">
            <label class="input-label input-label--big_text" for="discount">
              <input id="discount" class="js-input input valid" type="text" name="discount" value="Скидка -20%" />
              <span class="input-label__label">Ввести скидку</span>
            </label>
          </div>
        </div>
      </div>
      <div class="popup-form popup-form--pars">
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input error" type="text" name="par" value="" placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="1 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="delete-button" type="button">
              Удалить
              <svg class="delete-button__icon" aria-hidden="true">
                <use xlink:href="#close-delete" />
              </svg>
            </button>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input" type="text" name="par" value="1000 руб." placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="2 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="delete-button" type="button">
              Удалить
              <svg class="delete-button__icon" aria-hidden="true">
                <use xlink:href="#close-delete" />
              </svg>
            </button>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input" type="text" name="par" value="" placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="100 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="add-button" type="button">
              Добавить ещё
            </button>
          </div>
        </div>
      </div>
      <table class="total-table">
        <colgroup>
          <col width="34.6%">
          <col width="45%">
          <col>
        </colgroup>
        <tr>
          <td class="total-table__td total-table__qnt-title" colspan="2">Итого количество</td>
          <td class="total-table__td total-table__qnt">12</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__precost-title" colspan="2">Предварительная стоимость</td>
          <td class="total-table__td total-table__precost">25 900 руб.</td>
        </tr>
      </table>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>