<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner popup__inner--decline">
      <p class="popup__title">Восстановить</p>
      <p class="popup__text">Вы уверены, что хотите<br> восстановить заявку?</p>
      <div class="popup__buttons popup__buttons--2_buttons_center">
        <button class="popup__button back-button" type="button">Назад</button>
        <button class="popup__button next-button" type="button"><span class="next-button__text">Да, восстановить</span></button>
      </div>
    </div>
  </form>
</div>