<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button current" type="button">1</button>
        <button class="steps__button" type="button">2</button>
        <button class="steps__button" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Реквизиты организации</p>
      <div class="popup-form popup-form--reqisites">
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="inn">
              <input id="inn" class="js-input input" type="text" name="inn" value="" />
              <span class="input-label__label">ИНН <span class="required">*</span></span>
            </label>
          </div>
          <div class="popup-form__cell">
            <label class="input-label" for="company">
              <input id="company" class="js-input input" type="text" name="company" value="" />
              <span class="input-label__label">Название организации <span class="required">*</span></span>
            </label>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="kpp">
              <input id="kpp" class="js-input input error" type="text" name="kpp" value="Ошибка" />
              <span class="input-label__label">КПП</span>
            </label>
          </div>
          <div class="popup-form__cell">
            <label class="input-label" for="address">
              <input id="address" class="js-input input" type="text" name="address" value="Поле ввода заблокировано" disabled />
              <span class="input-label__label">Адрес</span>
            </label>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="bik">
              <input id="bik" class="js-input input" type="text" name="bik" value="" />
              <span class="input-label__label">БИК</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="rs">
              <input id="rs" class="js-input input" type="text" name="rs" value="" />
              <span class="input-label__label">Р/С</span>
            </label>
          </div>
        </div>
      </div>
      <div class="popup-form2">
        <p class="popup-form2__title">Контакты</p>
        <div class="popup-form2__row">
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="name">
              <input id="name" class="js-input input" type="text" name="name" value="" />
              <span class="input-label__label">Имя</span>
            </label>
          </div>
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="phone">
              <input id="phone" class="js-input input" type="text" name="phone" value="" />
              <span class="input-label__label">Телефон</span>
            </label>
          </div>
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="email">
              <input id="email" class="js-input input" type="text" name="email" value="" />
              <span class="input-label__label">Email</span>
            </label>
          </div>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--1_button">
        <button class="popup__button next-button" type="button">
          Далее
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>