<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button finished-step" type="button">2</button>
        <button class="steps__button finished-step" type="button">3</button>
        <button class="steps__button current" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Итого</p>
      <p class="popup__order-num">По заказу №1938481</p>
      <table class="total-table">
        <colgroup>
          <col width="34.6%">
          <col width="45%">
          <col>
        </colgroup>
        <tr>
          <th class="total-table__th">Номинал</th>
          <th class="total-table__th">Кол-во</th>
          <th class="total-table__th">Cтоимость</th>
        </tr>
        <tr>
          <td class="total-table__td">1 500 руб.</td>
          <td class="total-table__td">17</td>
          <td class="total-table__td">25 500 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__qnt-title" colspan="2">Итого количество</td>
          <td class="total-table__td total-table__qnt">17</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__precost-title" colspan="2">Предварительная стоимость</td>
          <td class="total-table__td total-table__precost">25 500 руб.</td>
        </tr>
      </table>
      <div class="total-block total-block--top_border">
        <div class="total-block__block">
          <p class="total-block__title">Скидка –20%</p>
          <p class="total-block__summ">5000 руб.</p>
        </div>
        <div class="total-block__block">
          <p class="total-block__title">Итоговая стоимость</p>
          <p class="total-block__summ total-block__summ--cost">20 720 руб.</p>
        </div>
      </div>
      <label class="input-label" for="comment">
        <textarea id="comment" class="js-input textarea" name="comment" rows="1"></textarea>
        <span class="input-label__label">Оставить комментарий</span>
      </label>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>
  </form>
</div>