<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <div class="popup__inner popup__inner--grats">
      <p class="popup__title">Заказ<br> успешно<br> оформлен</p>
      <div class="tiles">
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_1" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__text">Скачать реестр<br> с картами</span>
          </a>
        </div>
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_2" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__text">Скачать<br> документ</span>
          </a>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--1_button_center">
        <a class="popup__button next-button" href="#">
          <span class="next-button__text">Перейти к заказам</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </a>
      </div>
    </div>
  </form>
</div>