<div class="popup-wrapper is-open">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner popup__inner--recovered">
      <p class="popup__title">Заявка<br> успешно<br> восстановленаа</p>
      <div class="popup__buttons popup__buttons--1_button_center">
        <a class="popup__button next-button" href="#">
          <span class="next-button__text">Перейти к заявке</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </a>
      </div>
    </div>
  </form>
</div>