<div class="popup-wrapper">
  <form class="popup" action="/" method="post">
    <button class="js-popup-close popup__close" type="button" title="Закрыть">
      <svg class="popup__close-icon" aria-hidden="true">
        <use xlink:href="#close-delete" />
      </svg>
    </button>
    <div class="popup__inner">
      <div class="steps">
        <button class="steps__button current" type="button">1</button>
        <button class="steps__button" type="button">2</button>
        <button class="steps__button" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Реквизиты организации</p>
      <div class="popup-form popup-form--reqisites">
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="inn">
              <input id="inn" class="js-input input" type="text" name="inn" value="" />
              <span class="input-label__label">ИНН <span class="required">*</span></span>
            </label>
          </div>
          <div class="popup-form__cell">
            <label class="input-label" for="company">
              <input id="company" class="js-input input" type="text" name="company" value="" />
              <span class="input-label__label">Название организации <span class="required">*</span></span>
            </label>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="kpp">
              <input id="kpp" class="js-input input error" type="text" name="kpp" value="Ошибка" />
              <span class="input-label__label">КПП</span>
            </label>
          </div>
          <div class="popup-form__cell">
            <label class="input-label" for="address">
              <input id="address" class="js-input input" type="text" name="address" value="" />
              <span class="input-label__label">Адрес</span>
            </label>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="bik">
              <input id="bik" class="js-input input" type="text" name="bik" value="" />
              <span class="input-label__label">БИК</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label" for="rs">
              <input id="rs" class="js-input input" type="text" name="rs" value="" />
              <span class="input-label__label">Р/С</span>
            </label>
          </div>
        </div>
      </div>
      <div class="popup-form2">
        <p class="popup-form2__title">Контакты</p>
        <div class="popup-form2__row">
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="name">
              <input id="name" class="js-input input" type="text" name="name" value="" />
              <span class="input-label__label">Имя</span>
            </label>
          </div>
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="phone">
              <input id="phone" class="js-input input" type="text" name="phone" value="" />
              <span class="input-label__label">Телефон</span>
            </label>
          </div>
          <div class="popup-form2__cell popup-form2__cell--small">
            <label class="input-label" for="email">
              <input id="email" class="js-input input" type="text" name="email" value="" />
              <span class="input-label__label">Email</span>
            </label>
          </div>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--1_button">
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>

    <div class="popup__inner" style="display: none">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button current" type="button">2</button>
        <button class="steps__button" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Выберите номинал</p>
      <div class="popup-form popup-form--pars">
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input error" type="text" name="par" value="" placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="1 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="delete-button" type="button">
              Удалить
              <svg class="delete-button__icon" aria-hidden="true">
                <use xlink:href="#close-delete" />
              </svg>
            </button>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input" type="text" name="par" value="1000 руб." placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="2 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="delete-button" type="button">
              Удалить
              <svg class="delete-button__icon" aria-hidden="true">
                <use xlink:href="#close-delete" />
              </svg>
            </button>
          </div>
        </div>
        <div class="popup-form__row">
          <div class="popup-form__cell popup-form__cell--small">
            <label class="input-label input-label--double_label ui-front" for="par">
              <input id="par" class="js-input js-par input" type="text" name="par" value="" placeholder="от 0 до 120 000" />
              <span class="input-label__label">Номинал</span>
              <span class="input-label__second-label">Свой номинал</span>
            </label>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <div class="quantity-block">
              <button class="quantity-block__button" type="button" title="Уменьшить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#minus-small" />
                </svg>
              </button>
              <input class="quantity-block__input" type="text" value="100 шт" readonly>
              <button class="quantity-block__button" type="button" title="Увеличить">
                <svg class="quantity-block__button-icon" aria-hidden="true">
                  <use xlink:href="#plus-small" />
                </svg>
              </button>
            </div>
          </div>
          <div class="popup-form__cell popup-form__cell--small">
            <button class="add-button" type="button">
              Добавить ещё
            </button>
          </div>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>

    <div class="popup__inner" style="display: none">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button finished-step" type="button">2</button>
        <button class="steps__button current" type="button">3</button>
        <button class="steps__button" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">ООО «Бренд одежды фешн стайл дизайн»</p>
      <div class="popup__contacts">
        <p class="popup__contact">Валерий</p>
        <p class="popup__contact">hello@mail.ru</p>
      </div>
      <table class="total-table">
        <colgroup>
          <col width="34.6%">
          <col width="45%">
          <col>
        </colgroup>
        <tr>
          <th class="total-table__th">Номинал</th>
          <th class="total-table__th">Кол-во</th>
          <th class="total-table__th">Cтоимость</th>
        </tr>
        <tr>
          <td class="total-table__td">500 руб.</td>
          <td class="total-table__td">6</td>
          <td class="total-table__td">3 000 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td">1 000 руб.</td>
          <td class="total-table__td">3</td>
          <td class="total-table__td">2 900 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td">2 000 руб.</td>
          <td class="total-table__td">1</td>
          <td class="total-table__td">2 000 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td">10 000 руб.</td>
          <td class="total-table__td">2</td>
          <td class="total-table__td">20 000 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__qnt-title" colspan="2">Итого количество</td>
          <td class="total-table__td total-table__qnt">12</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__precost-title" colspan="2">Предварительная стоимость</td>
          <td class="total-table__td total-table__precost">25 900 руб.</td>
        </tr>
      </table>
      <div class="popup-form2">
        <div class="popup-form2__row">
          <div class="popup-form2__cell">
            <label class="input-label input-label--big_text" for="order_num">
              <input id="order_num" class="js-input input editable" type="text" name="order_num" value="" />
              <span class="input-label__label">Ввести номер заказа</span>
            </label>
          </div>
          <div class="popup-form2__cell">
            <label class="input-label input-label--big_text" for="discount">
              <input id="discount" class="js-input input valid" type="text" name="discount" value="Скидка -20%" />
              <span class="input-label__label">Ввести скидку</span>
            </label>
          </div>
        </div>
      </div>
      <div class="total-block">
        <div class="total-block__block">
          <p class="total-block__title">Итоговая стоимость</p>
          <p class="total-block__summ total-block__summ--cost">20 720 руб.</p>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button cancel-button" type="button">
          Отменить заявку
          <svg class="cancel-button__icon" aria-hidden="true">
            <use xlink:href="#close-delete" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>

    <div class="popup__inner" style="display: none">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button finished-step" type="button">2</button>
        <button class="steps__button finished-step" type="button">3</button>
        <button class="steps__button current" type="button">4</button>
        <button class="steps__button" type="button">5</button>
      </div>
      <p class="popup__title">Рассылка</p>
      <div class="tiles">
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_1" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__title">Шаг 1</span>
            <span class="tile-button__text">Скачать загруженный документ</span>
          </a>
        </div>
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_2" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__title">Шаг 2</span>
            <span class="tile-button__text">Скачать шаблон реестра</span>
          </a>
        </div>
        <div class="tiles__item">
          <label class="tile-button tile-button--var_3" for="upload-file">
            <input id="upload-file" class="tile-button__input" type="file" name="upload-file">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#upload" />
            </svg>
            <span class="tile-button__title">Шаг 3</span>
            <span class="tile-button__text">Загрузить заполненный<br> файл</span>
          </label>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>

    <div class="popup__inner" style="display: none">
      <div class="steps">
        <button class="steps__button finished-step" type="button">1</button>
        <button class="steps__button finished-step" type="button">2</button>
        <button class="steps__button finished-step" type="button">3</button>
        <button class="steps__button finished-step" type="button">4</button>
        <button class="steps__button current" type="button">5</button>
      </div>
      <p class="popup__title">Итого</p>
      <p class="popup__order-num">По заказу №1938481</p>
      <table class="total-table">
        <colgroup>
          <col width="34.6%">
          <col width="45%">
          <col>
        </colgroup>
        <tr>
          <th class="total-table__th">Номинал</th>
          <th class="total-table__th">Кол-во</th>
          <th class="total-table__th">Cтоимость</th>
        </tr>
        <tr>
          <td class="total-table__td">1 500 руб.</td>
          <td class="total-table__td">17</td>
          <td class="total-table__td">25 500 руб.</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__qnt-title" colspan="2">Итого количество</td>
          <td class="total-table__td total-table__qnt">17</td>
        </tr>
        <tr>
          <td class="total-table__td total-table__precost-title" colspan="2">Предварительная стоимость</td>
          <td class="total-table__td total-table__precost">25 500 руб.</td>
        </tr>
      </table>
      <div class="total-block total-block--top_border">
        <div class="total-block__block">
          <p class="total-block__title">Скидка –20%</p>
          <p class="total-block__summ">5000 руб.</p>
        </div>
        <div class="total-block__block">
          <p class="total-block__title">Итоговая стоимость</p>
          <p class="total-block__summ total-block__summ--cost">20 720 руб.</p>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--2_buttons">
        <button class="popup__button prev-button" type="button" title="Назад">
          <svg class="prev-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-prev" />
          </svg>
        </button>
        <button class="popup__button next-button" type="button">
          <span class="next-button__text">Далее</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </button>
      </div>
    </div>

    <div class="popup__inner" style="display: none">
      <p class="popup__title">Заказ<br> успешно<br> оформлен</p>
      <div class="tiles">
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_1" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__text">Скачать реестр<br> с картами</span>
          </a>
        </div>
        <div class="tiles__item tiles__item--small">
          <a class="tile-button tile-button--var_2" href="#">
            <svg class="tile-button__image" aria-hidden="true">
              <use xlink:href="#download" />
            </svg>
            <span class="tile-button__text">Скачать<br> документ</span>
          </a>
        </div>
      </div>
      <div class="popup__buttons popup__buttons--1_button_center">
        <a class="popup__button next-button" href="#">
          <span class="next-button__text">Перейти к заказам</span>
          <svg class="next-button__icon" aria-hidden="true">
            <use xlink:href="#arrow-next" />
          </svg>
        </a>
      </div>
    </div>
  </form>
</div>