<div class="sidebar">
  <div class="sidebar__panel">
    <button class="js-sidebar-opener sidebar__opener" type="button" title="Открыть меню">
      <svg class="sidebar__opener-icon" aria-hidden="true">
        <use xlink:href="#burger" />
      </svg>
    </button>
    <div class="sidebar__panel-logo"><img src="images/digift-logo.svg" alt="Digift"></div>
  </div>
  <div class="sidebar__inner">
    <button class="js-popup-opener make-request" type="button">
      <span class="make-request__text">Создать заявку</span>
      <span class="make-request__icon-block">
        <svg class="make-request__icon" aria-hidden="true">
          <use xlink:href="#plus" />
        </svg>
      </span>
    </button>
    <nav class="main-menu">
      <ul class="main-menu__list">
        <li class="main-menu__item">
          <a class="main-menu__link is-active" href="#">Заявки</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Оформление</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Заказы</a>
        </li>
        <li class="main-menu__item">
          <a class="main-menu__link" href="#">Отмены</a>
        </li>
      </ul>
    </nav>
    <div class="sidebar__bottom">
      <button class="sidebar__help-button" type="button">
        Помощь
        <svg class="sidebar__help-button-icon" aria-hidden="true">
          <use xlink:href="#arrow-next" />
        </svg>
      </button>
      <a class="sidebar__link" href="tel:+78003330778">8 800 333 07 78</a>
      <a class="sidebar__link" href="https://www.digift.ru/" target="_blank">digift.ru</a>
      <a class="sidebar__link" href="mailto:info@digift.ru">info@digift.ru</a>
      <div class="sidebar__developer">
        Powered by
        <img src="images/digift-logo.svg" alt="Digift">
      </div>
    </div>
  </div>
</div>